127.0.0.1 localhost
::1 localhost

{% if hostvars[inventory_hostname].hostsnames is defined %}
{% for h in hostvars[inventory_hostname].hostsnames %}
{{ h.ip }} {{ h.hostname }}
{% endfor %}
{% endif %}
