#!/bin/bash
{% if hostvars[inventory_hostname].routes is defined %}
{% for rt in hostvars[inventory_hostname].routes %}
if [[ $IFACE == "{{ rt.if }}" ]]; then
    ip route add {{ rt.net }}/{{ rt.suffix }} via {{ rt.next_hop }}
fi
{% endfor %}
{% endif %}
