services:
  proxy:
    restart: always
    volumes:
      - ./cfg/proxy/html:/usr/share/nginx/html
      - ./cfg/proxy/conf.d:/etc/nginx/conf.d
      - ./vol/certbot/conf:/etc/letsencrypt
      - ./vol/certbot/www:/var/www/certbot
    ports:
{% if hostvars[inventory_hostname].http_proxy.listen_ips is defined %}
{% for ip in hostvars[inventory_hostname].http_proxy.listen_ips %}
      - {{ ip }}:80:80
      - {{ ip }}:443:443
{% endfor %}
{% endif %}
    image: nginx

  certbot:
    volumes:
      - ./vol/certbot/conf:/etc/letsencrypt
      - ./vol/certbot/www:/var/www/certbot
    image: certbot/certbot