#!/sbin/openrc-run

command="/usr/bin/otelcol"
command_args="--config=/root/otelcol.yml"
command_user="root:root"
description="OpenTelemetry Collector"
pidfile="/var/run/otelcol.pid"

depend() {
    need localmount
    use logger
}