# {{ ansible_managed }}
[Interface]
Address = {{ hostvars[inventory_hostname].vpn.address }}
ListenPort = {{ hostvars[inventory_hostname].vpn.listening_port }}
PrivateKey = {{ private_key.stdout }}
SaveConfig = false

{% if hostvars[inventory_hostname].vpn.peers is defined %}
{% for item in hostvars[inventory_hostname].vpn.peers %}
[Peer]
PublicKey = {{ public_key.results[item.name].stdout }}
AllowedIPs = {{ hostvars[item.name].vpn.address }}{% if item.allowedIps is defined %}, {{ item.allowedIps }}
{% endif %}
{% if hostvars[item.name].vpn.endpoint is defined %}
Endpoint = {{ hostvars[item.name].vpn.endpoint }}:{{ hostvars[item.name].vpn.listening_port }}
{% endif %}
PersistentKeepalive = 30

{% endfor %}
{% endif %}