# {{ ansible_managed }}
[Interface]
Address = {{ hostvars[inventory_hostname].vpn.address }}
ListenPort = {{ hostvars[inventory_hostname].vpn.listening_port }}
PrivateKey = {{ private_key.stdout }}
SaveConfig = false

{% if hostvars[inventory_hostname].vpn.peers is defined %}
{% for res in public_key.results %}
[Peer]
PublicKey = {{ res.stdout }}
AllowedIPs = {{ hostvars[res.item.name].vpn.address }}{% if res.item.allowedIps is defined %}, {{ res.item.allowedIps }}
{% endif %}
{% if hostvars[res.item.name].vpn.endpoint is defined %}
Endpoint = {{ hostvars[res.item.name].vpn.endpoint }}:{{ hostvars[res.item.name].vpn.listening_port }}
{% endif %}
PersistentKeepalive = 30

{% endfor %}
{% endif %}