frr version 8.5.2
frr defaults traditional
!
hostname {{ inventory_hostname }}
log syslog debug
!
router ospf
 ospf router-id {{ hostvars[inventory_hostname].ospf.router_id }}
{% if hostvars[inventory_hostname].ospf.networks is defined %}
{% for net in hostvars[inventory_hostname].ospf.networks %}
 network {{ net.ip }}/{{ net.suffix }} area 0.0.0.0
{% endfor %}
{% endif %}
exit
!
router bgp {{ hostvars[inventory_hostname].bgp.asn }}
 bgp router-id {{ hostvars[inventory_hostname].bgp.router_id }}
 no bgp log-neighbor-changes
 no bgp ebgp-requires-policy
 no bgp default show-hostname
 no bgp default show-nexthop-hostname
 no bgp deterministic-med
 no bgp network import-check
 timers bgp 60 180
{% if hostvars[inventory_hostname].bgp.neighbors is defined %}
{% for nei in hostvars[inventory_hostname].bgp.neighbors %}
 neighbor {{ nei.ip }} remote-as {{ nei.remote_as }}
{% endfor %}
{% endif %}
 address-family ipv4 unicast
{% if hostvars[inventory_hostname].bgp.networks is defined %}
{% for net in hostvars[inventory_hostname].bgp.networks %}
  network {{ net.ip }}/{{ net.suffix }}
{% endfor %}
{% endif %}
 exit-address-family
exit
!