frr version 8.5.2
frr defaults traditional
!
hostname {{ inventory_hostname }}
log syslog debug
!
router ospf
 ospf router-id {{ hostvars[inventory_hostname].ospf.router_id }}
{% if hostvars[inventory_hostname].ospf.networks is defined %}
{% for net in hostvars[inventory_hostname].ospf.networks %}
 network {{ net.ip }}/{{ net.suffix }} area {{ net.area }}
{% endfor %}
{% endif %}
exit
!